@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font: normal normal 1em 'Lato', sans-serif;
    color: #666;
    line-height: 2em;
}

#main-container {
    height: 100vh;
    max-width: 1920px;
}

.image-parallax-principal,
.image-parallax-light,
.image-parallax-city {
    display: flex;
    background: center/cover no-repeat fixed;
    opacity: .70;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.image-parallax-principal {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg");
    min-height: 100%;
}

.image-parallax-light {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
    min-height: 400px;
}

.image-parallax-city {
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    min-height: 400px;
}

.title {
    font-size: 0.745em;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.title .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.title .border.trans {
    background-color: transparent;
    text-shadow: 2px 2px 0px black;
}

section h2 {
    text-align: center;
    padding: 50px;
}

section p {
    text-align: justify;
    padding: 0px 20px 80px 20px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 1em;
    }
}